/*  */
#font{
    font-size: 25px;
    color: #000;
    margin-top: 100px;
    margin-left: 50px;
}

#font_1{
    text-decoration: none;
    /* margin-left: 50px;
    margin-top: 30px; */
    position: relative;
}

#font_1>a{
    display: block;
    position: absolute;
    top: 30px;left: 50px;
    text-decoration: none;
    color: #000;
}

#font_1>a:nth-child(2){
    position: absolute;
    left: 150px;
    color: blue;
}
#d1{
    margin-top: 60px;
    margin-left: 40px;
}